# Core Django
Django==5.0.14
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.1
drf-spectacular==0.29.0
asgiref==3.11.1

# ASGI + WebSocket
daphne==4.1.2
channels==4.3.2
channels-redis==4.3.0

# Database
psycopg2-binary

# Auth & Utils
PyJWT==2.11.0
python-decouple==3.8
Pillow==12.1.0

# Timezone
tzdata==2025.3

# Async
anyio==4.12.1
aiofiles==25.1.0
uvicorn==0.40.0